$box-shadow-1: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;


.wrap-abtMe {
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0 250px;
  // background-color: #000;
}

.abtMe-header {
  background:  url('/assets/images/aboutme-hero.png') ;
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 0 auto 60px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    color: #fff;
    margin: 0 0 30px;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 10px;
  }
  & p {
    width: 60%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
  }
}

.abtMe-content-0 {
  width: 90%;
  max-width: 2000px;
  height: auto;
  margin: 0 auto 60px;
  padding: 60px 30px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  border-radius: 20px;

  & h2 {
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }
}

.abtMe-cont-0-item-1 {
  // background-color: #001d24;
  background-color: rgb(22, 28, 28);
  width: 100%;
  padding: 40px 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 60px;

  & .abtMe-cont-0-item-1-01 {
    display: flex;
    justify-content: center;
  }

  & .abtMe-cont-0-item-1-02 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    text-align: center;

    & h3 {
      font-size: 18px;
      font-weight: 600;
    }
    & p {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  & .abtMe-cont-0-item-1-02-01 {
    color: #001d24;
    background-color: #FFFFFA;
    padding: 30px 30px 20px;
    border-radius: 20px;
    letter-spacing: normal;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // icons
  & .abtMe-cont-0-item-1-02-01-icon1 {
    color: #001d24;
    margin: 0 auto 10px;
    font-size: 60px;
    letter-spacing: normal;
    line-height: normal;
  }
  & .abtMe-cont-0-item-1-02-01-icon2 {
    color: #001d24;
    margin: 0 auto ;
    font-size: 40px;
    letter-spacing: normal;
    line-height: normal;
  }
}

.abtMe-content-1 {
  width: 90%;
  max-width: 2000px;
  height: auto;
  margin: 0 auto 60px;
  padding: 60px 30px;
  color: #fff;
  // border: 1px solid #2e2e2e;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  // align-items: center;
  border-radius: 20px;
  
  &-img {
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.abtMe-content-imgcontainer {
  box-shadow: $box-shadow-1;
  border-radius: 20px;
}
.abtMe-cont-1-item-1 {
  background-color: rgb(22, 24, 28);
  // background-color: #001d24;
  width: 100%;
  padding: 40px 30px;
  margin-bottom: 20px;
  border-radius: 20px;

  & h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

.abtMe-cont-1-item-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  & .abtMe-cont-1-item-2-1 {
    background-color: rgb(22, 24, 28);
    // background-color: #001d24;
    padding: 30px;
    border-radius: 20px;

    & h3 {
      font-size: 18px;
      margin: 0 0 20px;
      display: flex;
      align-items: center;
      letter-spacing: normal;
    }

    & .abtMe-cont-1-item-2-1-p1 {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: normal;
      margin: 0 0 10px;
      display: flex;
      align-items: center;
    }
    & .abtMe-cont-1-item-2-1-p2 {
      font-size: 14px;
      margin: 0 0 4px;
      letter-spacing: normal;
    }
    
    // icons
    & .abtMe-cont-1-item-2-1-icon {
      font-size: 40px;
      margin-right: 10px;
    }
    .abtMe-cont-1-item-2-1-icon2 {
      font-size: 16px;
      margin-right: 10px;
    }
  }
}

.abtMe-personality {
  width: 90%;
  max-width: 2000px;
  height: auto;
  margin: 0 auto 60px;

  & h2 {
    color: #fff;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  & .abtMe-personality-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    & img {
      border-radius: 20px;
    }
  }
}  
.abtMe-personality-img {
  border-radius: 20px;
  box-shadow: $box-shadow-1;
}
.abtMe-personality-traits {
  color: #fff;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  & h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  & p {
    font-size: 16px;
    line-height: normal;
  }

  & > div {
    box-shadow: $box-shadow-1;
  }
  & .abtMe-personality-traits-1 {
    background-color: rgb(34, 108, 155);
    border-radius: 20px;
    padding: 20px;
  }
  & .abtMe-personality-traits-2 {
    background-color: rgb(209, 139, 0);
    border-radius: 20px;
    padding: 20px;
  }
  & .abtMe-personality-traits-3 {
    background-color: rgb(59, 152, 16);
    border-radius: 20px;
    padding: 20px;
  }
  & .abtMe-personality-traits-4 {
    background-color: rgb(122, 67, 138);
    border-radius: 20px;
    padding: 20px;
  }
}



@media screen and (max-width: 1900px) {
  .abtMe-cont-0-item-1 {

    & .abtMe-cont-0-item-1-02 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      text-align: center;

      & h3 {
        font-size: 18px;
        font-weight: 600;
      }
      & p {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .abtMe-header {
  
    & h1 {
      border-radius: 8px;
    }
    & p {
      width: 80%;
      font-size: 20px;
    }
  }

  .abtMe-cont-0-item-1 {
    grid-template-columns: 1fr;
    padding: 40px 20px 40px;

    & .abtMe-cont-0-item-1-02 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      & h3 {
        font-size: 16px;
        font-weight: 600;
      }
      & p {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .abtMe-cont-1-item-1 {
    padding: 30px 20px;
    & h2 {
      font-size: 16px;
    }
    & p {
      font-size: 12px;
    }
  }

  .abtMe-cont-1-item-2 {

    & .abtMe-cont-1-item-2-1 {

      & h3 {
        font-size: 12px;
      }

      & .abtMe-cont-1-item-2-1-p1 {
        font-size: 12px;
        margin: 0 0 10px;
      }
      & .abtMe-cont-1-item-2-1-p2 {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .abtMe-cont-0-item-1 {
    grid-template-columns: 1fr;
    padding: 40px 20px 40px;

    & .abtMe-cont-0-item-1-02 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      gap: 20px;

      & h3 {
        font-size: 14px;
        font-weight: 600;
      }
      & p {
        font-size: 11px;
        font-weight: 600;
      }
    }
  }
  .abtMe-personality {
  
    // & h2 {
    //   font-size: 20px;
    // }
  
    & .abtMe-personality-container-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
  
      & img {
        border-radius: 20px;
      }
    }
  }
  .abtMe-personality-traits {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .abtMe-header {
  
    & h1 {
      border-radius: 8px;
    }
    & p {
      width: 90%;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .abtMe-content-0 {
    padding: 0;
  }
  .abtMe-cont-0-item-1 {
    grid-template-columns: 1fr;
    padding: 40px 20px 20px;

    & .abtMe-cont-0-item-1-02 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      text-align: center;

      & h3 {
        font-size: 16px;
        font-weight: 600;
      }
      & p {
        font-size: 11px;
        font-weight: 600;
      }
    }

    & .abtMe-cont-0-item-1-02-01 {
      padding: 20px 10px 10px;
    }
    
    & .abtMe-cont-0-item-1-02-01-icon1 {
      font-size: 50px;
    }
    & .abtMe-cont-0-item-1-02-01-icon2 {
      font-size: 30px;
    }
  }

  .abtMe-content-1 {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .abtMe-cont-1-item-1 {
    padding: 30px 20px;
    & h2 {
      font-size: 14px;
    }
    & p {
      font-size: 12px;
    }
  }
  
  .abtMe-cont-1-item-2 {
    grid-template-columns: 1fr;

    & .abtMe-cont-1-item-2-1 {
      padding: 20px;
      border-radius: 20px;

      & h3 {
        font-size: 12px;
        margin: 0 0 20px;
        display: flex;
        align-items: center;
        letter-spacing: normal;
      }

      & .abtMe-cont-1-item-2-1-p1 {
        font-size: 11px;
        font-weight: bold;
        letter-spacing: normal;
        margin: 0 0 10px;
        display: flex;
        align-items: center;
      }
      & .abtMe-cont-1-item-2-1-p2 {
        font-size: 11px;
        margin: 0 0 4px;
        letter-spacing: normal;
      }
      
      // icons
      & .abtMe-cont-1-item-2-1-icon {
        font-size: 30px;
        margin-right: 10px;
      }
      .abtMe-cont-1-item-2-1-icon2 {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }

  .abtMe-personality {
  
    & h2 {
      font-size: 20px;
    }
  
    & .abtMe-personality-container-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
  
      & img {
        border-radius: 20px;
      }
    }
  }
  .abtMe-personality-traits {
    grid-template-columns: 1fr;
    
    & h3 {
      font-size: 14px;
      margin-bottom: 10px;
      text-align: center;
    }
    & p {
      font-size: 12px;
      line-height: normal;
    }
  
    & .abtMe-personality-traits-1 {
      background-color: rgb(34, 108, 155);
      border-radius: 20px;
      padding: 20px 30px; 
    }
    & .abtMe-personality-traits-2 {
      background-color: rgb(209, 139, 0);
      border-radius: 20px;
      padding: 20px 30px; 
    }
    & .abtMe-personality-traits-3 {
      background-color: rgb(59, 152, 16);
      border-radius: 20px;
      padding: 20px 30px; 
    }
    & .abtMe-personality-traits-4 {
      background-color: rgb(122, 67, 138);
      border-radius: 20px;
      padding: 20px 30px; 
    }
  }

}