
.wrap-footer {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: 0 auto;
  padding: 30px 0 60px;
  background-color: #000;
  border-top: 1px solid #484848;
}

.footer-container {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-content-1 {
  color: #fff;

  & .f-name-1 {
    font-size: 42px;
    font-family: "Libre Bodoni" !important;
    line-height: normal;
  }
  & .f-name-2 {
    font-size: 16px;
    font-family: "Libre Bodoni" !important;
  }
}

.footer-content-2 {
  width: 350px;
}

.f-icon-container {
  color: #fff !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px 10px;
  align-items: center;
  
  & .nextui-c-ftJsHY.nextui-tooltip-button {
    cursor:pointer;
  }

  & a {
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .f-icon-item-1 {
    font-size: 25px !important;
  }
  & .f-icon-item-6 {
    font-size: 35px !important;
  }
  & .f-icon-item-7 {
    font-size: 25px !important;
  }
  
  & svg {
    color: #fff !important;
    transition: transform .1s;
    line-height: normal;
    text-align: center;

    &:hover {
      transform: scale(1.25);
      cursor:pointer;
    }
  }
}

@media screen and (max-width: 576px) {

  .footer-container {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .footer-content-2 {
    width: 100%;
  }
}


