$color-white: #fff;
$bg-grey: #d8d8d8;
$box-shadow-default: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

$transition-2s: all 0.2s ease-in-out;


.wrap-navbar {
  color: $color-white;
  // background: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0,1);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 70px;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky !important;
  z-index: 50 !important;
  // border-bottom: 1px solid #484848;
}

.navbar-container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 30px;

  & .nav-item {
    font-size: 14px;
    margin: 0 10px;
  }

  & .nav-links {
    color: $color-white;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 8px;

    &:hover {
      // background-color: rgb(22, 24, 28);
      background-color: rgb(42, 45, 50);
    }
    
    &.active {
      // background: rgba(168, 168, 168, 0.2);
      background-color: rgb(42, 45, 50);
      // background-color: #002832;
    }
  }

  // switch btn
  // & .nextui-c-STltJ-bwQcWP-color-default {
    
  //   &:hover {
  //     background-color: rgb(255, 255, 255);
  //   }
  // }
}
.nextui-switch-circle {
  background: #fff !important;
}

.theme-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
}

.nextui-c-itiWTf-bDUxer-checked-true {
  background-color: rgb(42, 45, 50);
  opacity: 1;
}

.nav-mob-dropdown {
  display: none;
}

.nav-mob-content {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1000;
  animation: fadeIn 0.5s;

  &.hidden {
    display: none;
  }
}
.nav-mob-content-item {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: center;

  & .nav-mob-link {
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    &.mob-home {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/assets/images/navbar/home-1.png');
      &.active {
        border: 1px solid #fff;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../public/assets/images/navbar/home-1.png');
      }
    }
    &.mob-aboutme {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/assets/images/navbar/aboutme-1.png');
      &.active {
        border: 1px solid #fff;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../public/assets/images/navbar/aboutme-1.png');
      }
    }
    &.mob-portfolio {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../../public/assets/images/navbar/portfolio-1.png');
      &.active {
        border: 1px solid #fff;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../public/assets/images/navbar/portfolio-1.png');
      }
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 576px ) {
  .navbar-container {
    justify-content: initial;
  }
  .nav-menu {
    display: none;
  }

  .nextui-c-STltJ {
    margin: 0 0 0 auto;
  }

  .nav-mob-dropdown {
    // background-color: rgb(42, 45, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px !important;
    min-width: 30px;
    min-height: 40px;
    margin:0 0 0 20px;
    border-radius: 10px;

    & .nav-mob-dropdown-icon {
      font-size: 24px;
      line-height: normal;
    }
  }

  // .nextui-c-ltVxD-ftAOXD-isPositioned-true {
  //   width: 95%;
  //   display: flex;
  //   margin: 10px 0 0 12px ;
  //   left: 0 !important;
  //   box-shadow: $box-shadow-default !important;
  // }
  // .nav-mob-dropdown-menu {
  //   width: 100%;
  //   max-width:none;
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   gap: 20px;
  //   padding: 8px 20px;

  //   & .nav-links {
  //     color: #000;
  //     width: 100%;
  //     height: 100%;
  //     display: flex;
  //     justify-content: center;
  //     padding: 8px 12px;
  //     margin: 0 auto;
  //     font-size: 14px;
  //     text-align: center;
  //     border-radius: 12px;

  //     &.active {
  //       color: #000;
  //       background-color: rgba(42, 45, 50, 0.10);
  //     }
  //   }
  // }
  
}



