$box-shadow-tailwind: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$box-shadow-shopify: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
$box-shadow-facebook: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
$box-shadow-default: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

.wrap-portfolio {
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0 90px;
  background-color: #FFFFF5;
}

.portfolio-header {
  background:  url('/assets/images/portfolio-hero.png') ;
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 0 auto 60px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    color: #fff;
    margin: 0 0 30px;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 10px;
  }
  & p {
    width: 60%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
  }
}

.portfolio-container-1 {
  width: 95%;
  max-width: 2400px;
  height: auto;
  margin: 0 auto 60px;
  padding: 0 ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background: transparent;

  & .nextui-c-BDLTQ {
    --nextui--cardColor: initial !important;
  }

  & .cardTemp_1_body {
    background-color: rgba(0, 0, 0, 0.357);
  }

  // & .card-icon-type1 {
  //   cursor: pointer;
  // }
}

.port-card-1 {
  width: 100%;
  height: 400px;
  // background: linear-gradient(45deg, #4e0000, #070d55);
  background-image: url('../../public/assets/images/bgimage-03.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 14px;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: $box-shadow-default !important;
  
  & > h3 {
    color: #fff;
    padding: 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .port-card-1-item {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 0 0 14px 14px;
    border-top: 1px solid rgba(69, 69, 69, 0.5);
    backdrop-filter: blur(5px);

    &-title {
      color: #fff;
      font-size: 12px;
    } 

    &-content {
      margin: 10px 0;
      display: flex;
      gap: 20px;

      & .card-icon-type1 {
        width: auto;
        margin: 0;
      }
    }
  }
}

.port-card-2 {
  width: 100%;

  & h4 {
    background-color: rgba(154, 46, 46, 0.5);
    color: #fff;
    width: fit-content;
    font-size: 14px;
    margin: 0 0 30px auto;
    padding: 12px 20px;
    text-align: right;
    border-radius: 12px;
  }

  & .port-card-2-item {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    color: #fff;

    & div {
      padding: 10px 20px 12px 12px ;
      border-radius: 12px;
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: normal;
      letter-spacing: normal;
    }
  }

  & .port-card-2-item-icon1 {
    margin: 0 10px 0 0;
    font-size: 24px;
  }

  & .port-card-2-item-1 {
    background-color: rgb(255, 160, 160);
  }
  & .port-card-2-item-2 {
    background-color: rgb(255, 107, 107);
  }
  & .port-card-2-item-3 {
    background-color: rgba(255, 0, 0, 0.5);
  }
  & .port-card-2-item-4 {
    background-color: rgba(132, 0, 0, 0.5);
  }
}

.portfolio-content-1 {
  width: 100%;
  height: auto;
  margin: 0 auto;

  & h2 {
    width: fit-content;
    color: #000;
    padding: 0;
    margin: 0 auto 10px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
  }
}

.portfolio-content-1-container-1 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px 80px;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 180px 20px ;
  // overflow-x: hidden;
  // overflow-y: hidden;
}

.project-card-container {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 14px;
  transition: transform 0.3s ease-in-out;
  // cursor: pointer;
  
  & .project-desc-1 {
    width: 100%;
    padding-top: 60%;
    border-radius: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.ubbmeta {
      background-image: url('../../public/assets/images/ubb-bgimage-1.png');
    }
    &.washla {
      background-image: url('../../public/assets/images/Washla-bgimage-1.png');
    }
    &.quickfix {
      background-image: url('../../public/assets/images/quickfix-bgimage-1.png');
    }
    &.akc {
      background-image: url('../../public/assets/images/apekidsclub-bgimage-1.png');
    }
    &.base2 {
      background-image: url('../../public/assets/images/base2-bgimage-1.png');
    }
    &.autopit {
      background-image: url('../../public/assets/images/autopit-bgimage-1.png');
    }
    &.tclam {
      background-image: url('../../public/assets/images/tclam-bgimage-1.png');
    }
    &.elysium {
      background-image: url('../../public/assets/images/elysium-bgimage-1.png');
    }
    &.udbio {
      background-image: url('../../public/assets/images/udbio-bgimage-1.png');
    }
    &.bizcentric {
      background-image: url('../../public/assets/images/bizcentric-bgimage-1.png');
    }
    &.fresotech {
      background-image: url('../../public/assets/images/freso-bgimage-1.png');
    }
    &.shawarma {
      background-image: url('../../public/assets/images/shawarma-bgimage-1.png');
    }
    &.qcrental {
      background-image: url('../../public/assets/images/qcrental-bgimage-1.png');
    }
  }

  & .project-desc-2 {
    display: none;
    padding: 10px 10px ;
    width: 100% !important;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    // position: absolute;

    & .project-desc-2-header {
      display: flex;
      justify-content: space-between;
      margin: 0 0 10px;
    }

    & h3 {
      color: #fff;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    & .project-desc-2-type {
      color: #fff;
      background-color: rgb(50, 50, 50);
      height: fit-content;
      margin: 0;
      border-radius: 5px;
      padding: 5px 10px 3px;
      margin: 0;
      font-size: 10px;
    }

    & p {
      color: #bababa;
      font-size: 10px;
      font-family: "Montserrat" !important;
    }

    & .project-desc-2-icons-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
      margin: 10px auto;

      & .nextui-c-iVzbCs {
        width: 35px;
        height: 35px !important;
        border: 2px solid transparent;
        animation: border-pulse 4s infinite;
        border-radius: 8px;
      }
    }

    & .project-desc-2-btn-text {
      width: 80% !important;
      margin: 0 auto 10px;
      padding: 0;
      display: flex;
      align-items: center;
      & button, & span {
        width: 100%;
        font-size: 10px;
      }
    }
  }
  &.hoverXright:hover {
    transform: scale(1.2) translateX(30px)!important;
  }

  &:hover, &:focus  {
    z-index: 10;
    transform: scale(1.2) !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    & .project-desc-1 {
      border-radius: 14px 14px 0 0 !important;
    }
    & .project-desc-2 {
      display: grid;
      border-radius: 0 0 14px 14px !important;
    }
  }
  
}

.project-card-icon, .proj2-card-icon {
  color: #ff0000;
  font-size: 20px;
  margin-right: 10px;
}


// template style 2
.proj2-card-container {
  width: 95%;
  max-width: 2400px;
  height: auto;
  margin: 0 auto ;
  padding: 0;
  background: transparent;
  
}

.proj2-card-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.proj2-card-columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  align-self: start;
}

.proj2-card-item {
  background: #fff;
  width: 100%;
  box-shadow: $box-shadow-default;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 300px 1fr;
}
.proj2-desc-1-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 0 0 20px;

  &.ubb {
    background-position: center;
    background-image: url('../../public/assets/images/ubb-bgimage-1.png');
  }
  &.washla {
    background-position: left;
    background-image: url('../../public/assets/images/Washla-bgimage-1.png');
  }
  &.quickfix {
    background-position: right;
    background-image: url('../../public/assets/images/quickfix-bgimage-1.png');
  }
  &.akc {
    background-position: left;
    background-image: url('../../public/assets/images/apekidsclub-bgimage-1.png');
  }
  &.base2 {
    background-position: left;
    background-image: url('../../public/assets/images/base2-bgimage-1.png');
  }
  &.autopit {
    background-position: center;
    background-image: url('../../public/assets/images/autopit-bgimage-1.png');
  }
  &.tclam {
    background-position: left;
    background-image: url('../../public/assets/images/tclam-bgimage-1.png');
  }
  &.elysium {
    background-position: right;
    background-image: url('../../public/assets/images/elysium-bgimage-1.png');
  }
  &.udbio {
    background-position: left;
    background-image: url('../../public/assets/images/udbio-bgimage-1.png');
  }
  &.bizcentric {
    background-position: left;
    background-image: url('../../public/assets/images/bizcentric-bgimage-1.png');
  }
  &.fresotech {
    background-position: right;
    background-image: url('../../public/assets/images/freso-bgimage-1.png');
  }
  &.shawarma {
    background-image: url('../../public/assets/images/shawarma-bgimage-1.png');
  }
  &.qcrental {
    background-image: url('../../public/assets/images/qcrental-bgimage-1.png');
  }
}
.proj2-desc-1-desc {
  padding: 20px 30px;

  & p {
    color: #000;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 0 0 30px;
  }
}
.proj2-desc-1-desc-header {
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;

  & h3 {
    color: #000;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  & .proj2-desc-1-type {
    color: #fff;
    background-color: rgb(50, 50, 50);
    height: fit-content;
    margin: 0;
    border-radius: 5px;
    padding: 7px 10px 5px;
    margin: 0;
    font-size: 10px;
    line-height: normal;
  }
}
.proj2-desc-1-desc-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 30px;

  & .nextui-c-iVzbCs {
    margin: 0;
  }
  & .popover-handler {
    cursor: pointer;
  }
}
.proj2-desc-1-desc-button {
  display: flex;
  gap: 20px;
  & button {
    padding: 20px 20px;
  }
}


@keyframes border-pulse {
  0% {
    border-color: #000;
  }
  50% {
    border-color: #ba0000;
  }
  100% {
    border-color: #000;
  }
}

@media screen and (min-width: 1901px) {
  
  .proj2-card-item {
    grid-template-columns: 400px 1fr;
  }
}
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
  .portfolio-header {
  
    & h1 {
      border-radius: 8px;
    }
    & p {
      width: 80%;
      font-size: 20px;
    }
  }
  .portfolio-content-1-container-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  
  // proj2 template
  .proj2-card-content {
    gap: 30px;
  }
  .proj2-card-columns {
    gap: 30px;
  }
  .proj2-card-item {
    grid-template-columns: 1fr ;
  }
  .proj2-desc-1-desc p {
    font-size: 12px;
  }
  .proj2-desc-1-bg {
    min-height: 250px;
    border-radius: 20px 20px 0 0 ;
  }
}


@media screen and (max-width: 900px) {
  .portfolio-content-1-container-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 720px) {

  .proj2-card-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}


@media screen and (max-width: 576px) {
  .portfolio-header {
  
    & h1 {
      border-radius: 8px;
    }
    & p {
      width: 90%;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .portfolio-container-1 {
    grid-template-columns: 1fr ;
  }
  
  .port-card-1 {
    height: 250px;
  }
  .portfolio-content-1-container-1 {
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
    padding: 10px;
  }


  .project-card-container .project-desc-2 .project-desc-2-icons-container .nextui-c-iVzbCs {
    width: 25px !important;
    height: 25px !important;
  }
}
